---
layout: layout.liquid
title: "Darren Allen's Saturn Explorer Blog"
---

<h1>Welcome to the Wonderful World of Saturn's Blog</h1>
<p>Hello all! Please join me, in my vast intergalactic journey. I am a solo traveler so I hope you enjoy this as I document my journey.</p>
<h2>Latest Entries</h2>
<ul>
    <li><a href="/blog/FirstEntry/">First Contact on Viltrum</a></li>
    <li><a href="/blog/SecondEntry/">Welp We Are Gonna Get Conquered</a></li>
</ul>